{% extends "store/index.html" %}

{% block content %}
{%  for product in product_list %}
<div class="card col-lg-4 col-md-6 col-sm-12">
    <a href="./product_detail.html">
        <img src="https://img2.akspic.ru/crops/0/1/4/8/6/168410/168410-blackpink-blackpink_oboi_dlya_rabochego_stola-dzhisu-blackpink_oboi_dlya_rabochego_stola_16_9-miha_plate-1920x1080.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.info|truncatewords:15}}</p>
        <p class="card-text">Price: {{product.price}}</p>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">Woman</li>
        </ul>
    </div>
</div>
{% endfor %}
{% endblock %} 

